.DrawerToggle {
    width: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    gap: 4px;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #18171c ;
}

@media (min-width: 1025px) {
    .DrawerToggle {
        display: none;
    }
}