.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #18171c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
    font-style: normal;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #007ced;
}

@media (min-width: 1024px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: #18171c;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
   
        color: #007ced;
    }
}