@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

.single-project {
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */

  /* background-color: black; */
  opacity: 1;
}

.listing-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 0 auto 30px auto;
}

.container_foto {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #007ced;
  position: relative;
  padding: 0;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.container_foto h1 {
  font-size: 20px;
  color: white;
}

.container_foto h2 {
  color: white;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 0.1rem;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

.container_foto img {
  top: 0;
  left: 0;
  opacity: 0.8;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.portfolio-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
}

.portfolio-desc {
  font-size: 14px;
  color: #777;
}

.portfolio-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style-type: none;
}

.portfolio-tech-list li {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: aliceblue;
  margin-right: 15px;
  font-size: 12px;
}

.portfolio-footer-icon {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.portfolio-footer-icon a {
  padding: 0.5rem;
  border-radius: 50%;
}

.portfolio-footer-icon .MuiSvgIcon-root {
  color: #007ced !important ;
}

.portfolio-footer-icon a:hover {
  background-color: rgba(25, 118, 210, 0.187) !important;
}

@media (max-width: 1080px) {
  .listing-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
